
@font-face {
    font-family: Nova;
    src: url("Nova.otf") format("opentype");
}

body
{
    background-color: #D7F1D0;
    background-size: cover;                  
    background-repeat: no-repeat;
    background-position: center center;  
    margin:0;      
}

.container-header {
	width: 80%;
	margin: 0 auto;
  margin-bottom:0px;
}

.container
{
    position: relative;
    text-align: left;
}

.title
{
  margin-top: 15px;
    font-family: Nova;
    /*content: left;*/
    width: 100%;
    height: 15%;
    color: rgb(20,70,34);
    font-size: 25px;
} 


p{ 
    font-family:Nova;
    font-size:20px;
    text-align: center;
}

header {
  background-color: rgb(20,70,34);
}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  text-align:center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  margin-right:30px;
  padding-top: 15px;
  position: relative;
}

nav a {
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  
  
}

nav a:hover {
  color:rgb(242,252,245);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color:rgb(242,252,245);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/*@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
*/

@media screen and (max-width: 1100px){
nav li {
  margin-left: 20px;
  margin-right:20px;
  padding-top: 15px;
  padding-bottom:0px;
  
}
}

nav a{ 
font-size: 20px;}

@media screen and (max-width: 800px){
    nav li {
  margin-left: 10px;
  margin-right:5px;
  padding-top: 15px;
  padding-bottom:0px;
  
}
    
   
  
        
        
}

@media screen and (max-width: 600px){
    nav li {
  margin-left: 8px;
  margin-right:5px;
  padding-top: 15px;
  padding-bottom:0px;
  
}
    
    nav a{
    font-size:18px;}
        
}